apiVersion: v2
name: netbox
version: 5.0.0-beta.52
appVersion: "v4.0.7"
type: application
kubeVersion: ^1.25.0-0
description: IP address management (IPAM) and data center infrastructure management (DCIM) tool
home: https://netbox.dev/
icon: https://raw.githubusercontent.com/netbox-community/netbox/develop/docs/netbox_logo.svg
sources:
  - https://github.com/netbox-community/netbox
  - https://github.com/netbox-community/netbox-chart
maintainers:
  - name: netbox-community
    url: https://github.com/netbox-community
  - name: bootc
    url: https://github.com/bootc
dependencies:
  - name: common
    repository: oci://registry-1.docker.io/bitnamicharts
    version: ^2.20.4
    tags:
      - bitnami-common
  - name: postgresql
    version: ^15.5.16
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: postgresql.enabled
  - name: redis
    version: ^19.6.1
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: redis.enabled
annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/links: |
    - name: Upstream Project
      url: https://github.com/netbox-community/netbox
