apiVersion: v2
name: netbox-operator
version: 0.3.20
# renovate: image=ghcr.io/netbox-community/netbox-operator
appVersion: "v0.1.0-alpha.6"
type: application
kubeVersion: ^1.25.0-0
description: Operator to manage NetBox resources directly through Kubernetes
home: https://netbox.dev/
icon: https://raw.githubusercontent.com/netbox-community/netbox/develop/docs/netbox_logo_light.svg
sources:
  - https://github.com/netbox-community/netbox-operator
  - https://github.com/netbox-community/netbox-chart
maintainers:
  - name: netbox-community
    url: https://github.com/netbox-community
dependencies:
  - name: common
    repository: oci://registry-1.docker.io/bitnamicharts
    version: ^2.30.0
    tags:
      - bitnami-common
  - name: netbox
    version: ^5.0.55
    repository: oci://ghcr.io/netbox-community/netbox-chart
    condition: netbox.enabled
annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/links: |
    - name: Upstream Project
      url: https://github.com/netbox-community/netbox-operator
  artifacthub.io/changes: |
    - kind: changed
      description: New release
      links:
        - name: Changelog on GitHub Releases
          url: https://github.com/netbox-community/netbox-chart/releases?q=netbox-operator-
