{{- if .Values.worker.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ printf "%s-worker" (include "common.names.fullname" .) | trunc 63 | trimSuffix "-" }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: worker
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
spec:
  {{- if not .Values.worker.autoscaling.enabled }}
  replicas: {{ .Values.worker.replicaCount }}
  {{- end }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  selector:
    matchLabels: {{- include "common.labels.matchLabels" (dict "customLabels" .Values.worker.podLabels "context" $) | nindent 6 }}
      app.kubernetes.io/component: worker
  {{- if .Values.worker.updateStrategy }}
  strategy: {{- include "common.tplvalues.render" (dict "value" .Values.worker.updateStrategy "context" $) | nindent 4 }}
  {{- end }}
  template:
    metadata:
      annotations:
        {{- if .Values.worker.podAnnotations }}
        {{- include "common.tplvalues.render" ( dict "value" .Values.worker.podAnnotations "context" $ ) | nindent 8 }}
        {{- end }}
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        {{- if (not .Values.existingSecret) }}
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
        {{- end }}
      labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.worker.podLabels "context" $ ) | nindent 8 }}
        app.kubernetes.io/component: worker
    spec:
      {{- include "common.images.renderPullSecrets" (dict "images" (list .Values.image) "context" $) | nindent 6 }}
      serviceAccountName: {{ include "netbox.serviceAccountName" . }}
      automountServiceAccountToken: {{ .Values.worker.automountServiceAccountToken }}
      {{- if .Values.worker.podSecurityContext.enabled }}
      securityContext: {{- include "common.compatibility.renderSecurityContext" (dict "secContext" .Values.worker.podSecurityContext "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.worker.initContainers }}
      initContainers: {{- include "common.tplvalues.render" (dict "value" .Values.worker.initContainers "context" $) | trim | nindent 8 }}
      {{- end }}
      containers:
      - name: {{ .Chart.Name }}-worker
        {{- if .Values.worker.securityContext.enabled }}
        securityContext: {{- include "common.compatibility.renderSecurityContext" (dict "secContext" .Values.worker.securityContext "context" $) | nindent 10 }}
        {{- end }}
        image: {{ include "netbox.image" . | quote }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        {{- if .Values.worker.command }}
        command: {{- include "common.tplvalues.render" (dict "value" .Values.worker.command "context" $) | nindent 10 }}
        {{- end }}
        {{- if .Values.worker.args }}
        args: {{- include "common.tplvalues.render" (dict "value" .Values.worker.args "context" $) | nindent 10 }}
        {{- end }}
        {{- if .Values.worker.extraEnvs }}
        env: {{- include "common.tplvalues.render" (dict "value" .Values.worker.extraEnvs "context" $) | nindent 10 }}
        {{- end }}
        {{- if or .Values.worker.extraEnvVarsCM .Values.worker.extraEnvVarsSecret }}
        envFrom:
          {{- if .Values.worker.extraEnvVarsCM }}
          - configMapRef:
              name: {{ include "common.tplvalues.render" (dict "value" .Values.worker.extraEnvVarsCM "context" $) }}
          {{- end }}
          {{- if .Values.worker.extraEnvVarsSecret }}
          - secretRef:
              name: {{ include "common.tplvalues.render" (dict "value" .Values.worker.extraEnvVarsSecret "context" $) }}
          {{- end }}
        {{- end }}
        volumeMounts:
        - name: config
          mountPath: /etc/netbox/config/configuration.py
          subPath: configuration.py
          readOnly: true
        {{- if has "netbox.authentication.LDAPBackend" .Values.remoteAuth.backends }}
        - name: config
          mountPath: /etc/netbox/config/ldap/ldap_config.py
          subPath: ldap_config.py
          readOnly: true
        {{- if .Values.remoteAuth.ldap.caCertData }}
        - name: config
          mountPath: /etc/netbox/config/ldap/ldap_ca.crt
          subPath: ldap_ca.crt
          readOnly: true
        {{- end }}
        {{- end }}
        - name: config
          mountPath: /run/config/netbox
          readOnly: true
        - name: secrets
          mountPath: /run/secrets/netbox
          readOnly: true
        {{- include "netbox.extraConfig.volumeMounts" . | nindent 8 }}
        - name: netbox-tmp
          mountPath: /tmp
        - name: media
          mountPath: /opt/netbox/netbox/media
          subPath: {{ .Values.persistence.subPath | default "" | quote }}
          readOnly: {{ .Values.worker.readOnlyPersistence | default false }}
        {{- if .Values.reportsPersistence.enabled }}
        - name: reports
          mountPath: /opt/netbox/netbox/reports
          subPath: {{ .Values.reportsPersistence.subPath | default "" | quote }}
          readOnly: {{ .Values.worker.readOnlyPersistence | default false }}
        {{- end }}
        {{- if .Values.scriptsPersistence.enabled }}
        - name: scripts
          mountPath: /opt/netbox/netbox/scripts
          subPath: {{ .Values.scriptsPersistence.subPath | default "" | quote }}
          readOnly: {{ .Values.worker.readOnlyPersistence | default false }}
        {{- end }}
        {{- if .Values.worker.extraVolumeMounts }}
        {{- include "common.tplvalues.render" (dict "value" .Values.worker.extraVolumeMounts "context" $) | nindent 8 }}
        {{- end }}
        {{- if .Values.worker.resources }}
        resources: {{ toYaml .Values.worker.resources | nindent 10 }}
        {{- else if ne .Values.worker.resourcesPreset "none" }}
        resources: {{- include "common.resources.preset" (dict "type" .Values.worker.resourcesPreset) | nindent 10 }}
        {{- end }}
      {{- if .Values.worker.sidecars }}
      {{- include "common.tplvalues.render" (dict "value" .Values.worker.sidecars "context" $) | nindent 6 }}
      {{- end }}
      volumes:
      - name: config
        configMap:
          name: {{ include "common.names.fullname" . }}
      - name: secrets
        projected:
          sources:
          - secret:
              name: {{ include "common.secrets.name" (dict "existingSecret" .Values.existingSecret "defaultNameSuffix" "config" "context" $) }}
              items:
              - key: secret_key
                path: secret_key
              {{- if has "netbox.authentication.LDAPBackend" .Values.remoteAuth.backends }}
              - key: ldap_bind_password
                path: ldap_bind_password
              {{- end }}
          - secret:
              name: {{ include "common.secrets.name" (dict "existingSecret" (default .Values.email.existingSecretName .Values.existingSecret) "defaultNameSuffix" "config" "context" $) }}
              items:
              - key: {{ include "netbox.email.secretKey" . | quote }}
                path: email_password
          - secret:
              name: {{ include "common.secrets.name" (dict "existingSecret" .Values.superuser.existingSecret "defaultNameSuffix" "superuser" "context" $) }}
              items:
              - key: password
                path: superuser_password
              - key: api_token
                path: superuser_api_token
          - secret:
              name: {{ include "netbox.postgresql.secret" . | quote }}
              items:
              - key: {{ include "netbox.postgresql.secretKey" . | quote }}
                path: db_password
          - secret:
              name: {{ include "netbox.tasksRedis.secret" . | quote }}
              items:
              - key: {{ include "netbox.tasksRedis.secretKey" . | quote }}
                path: tasks_password
          - secret:
              name: {{ include "netbox.cachingRedis.secret" . | quote }}
              items:
              - key: {{ include "netbox.cachingRedis.secretKey" . | quote }}
                path: cache_password
      {{- include "netbox.extraConfig.volumes" . | nindent 6 }}
      - name: netbox-tmp
        emptyDir:
          medium: Memory
      - name: media
        {{- if .Values.persistence.enabled }}
        persistentVolumeClaim:
          claimName: {{ .Values.persistence.existingClaim | default (printf "%s-media" (include "common.names.fullname" .)) }}
          readOnly: {{ .Values.worker.readOnlyPersistence | default false }}
        {{- else }}
        emptyDir: {}
        {{- end }}
      {{- if .Values.reportsPersistence.enabled }}
      - name: reports
        persistentVolumeClaim:
          claimName: {{ .Values.reportsPersistence.existingClaim | default (printf "%s-reports" (include "common.names.fullname" .)) }}
          readOnly: {{ .Values.worker.readOnlyPersistence | default false }}
      {{- end }}
      {{- if .Values.scriptsPersistence.enabled }}
      - name: scripts
        persistentVolumeClaim:
          claimName: {{ .Values.scriptsPersistence.existingClaim | default (printf "%s-scripts" (include "common.names.fullname" .)) }}
          readOnly: {{ .Values.worker.readOnlyPersistence | default false }}
      {{- end }}
      {{- if .Values.worker.extraVolumes }}
      {{- include "common.tplvalues.render" (dict "value" .Values.worker.extraVolumes "context" $) | nindent 6 }}
      {{- end }}
      {{- if .Values.worker.nodeSelector }}
      nodeSelector: {{- include "common.tplvalues.render" ( dict "value" .Values.worker.nodeSelector "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.worker.affinity }}
      affinity: {{- include "common.tplvalues.render" ( dict "value" .Values.worker.affinity "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.worker.tolerations }}
      tolerations: {{- include "common.tplvalues.render" (dict "value" .Values.worker.tolerations "context" .) | nindent 8 }}
      {{- end }}
      {{- if .Values.worker.hostAliases }}
      hostAliases: {{- include "common.tplvalues.render" (dict "value" .Values.worker.hostAliases "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.worker.priorityClassName }}
      priorityClassName: {{ .Values.worker.priorityClassName | quote }}
      {{- end }}
      {{- if .Values.worker.schedulerName }}
      schedulerName: {{ .Values.worker.schedulerName | quote }}
      {{- end }}
      {{- if .Values.worker.topologySpreadConstraints }}
      topologySpreadConstraints: {{- include "common.tplvalues.render" (dict "value" .Values.worker.topologySpreadConstraints "context" .) | nindent 8 }}
      {{- end }}
      {{- if .Values.worker.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ .Values.worker.terminationGracePeriodSeconds }}
      {{- end }}
{{- end }}
